{% extends 'basic.html' %}
{% block title%}
Password Change
{% endblock title%}
{% block body%}
<style>
 body{
   background-color: #f8ceec;
background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);




 }
 span{
   color: white;
 }
 .card{
  border-radius: 15px;
  background-color: #f7b42c;
background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);

 }
 .form-group input{
 border-radius: 12px;
 }
 h4{
  background-color: reds;
    }
 </style>
 <div class="container mt-4 ">
    
    <div class="row">
  
    <div class="col-md-4"></div>
    <div class="col-md-6">
    <div class="row">
    <div class="col-md-2"></div>
    </div>
    <div class="col-md-8">
     
    <div class="card mt-4">
    
    {% for message in messages  %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong></strong>{{message}}
        <button type="button" class="close border-dark" data-dismiss="alert" aria-label="Close ">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    <div class="card-body">   
     

<h2>Reset Password</h2>
<h3>Hurray! Your password has been changed.</h3>

     <button class=" btn-outline-light btn rounded-pill" type="submit"><a href="{% url 'login' %}">Click here to Login</a> </button>

       
   
  
  
    </div>   
 
</div>

</div>

 
{% endblock body%}

