body{
  padding:0;
  margin:0;
  font-style:bold;
  background-color:mistyrose;
  
}
h1{
  color:black;
  font-weight:bolder;
  align-items:center;
  text-align:center;
}

p{
  font-weight:bolder;
  align-items:center;
  text-align:center;
}