{% extends '_base.html' %}
{% load static %}
{% block content %}


  <main class="_vYX4e3iy_9sP8mOC6hH v4j_YSFgrkxzzuj_gab_">
    
<section class="j5w_LN24FuYb6WiMGvul _Xns0Wjl3BLlIPtz2edB">
  <div class="O6fABJPMfXjR3JaNKMui eQBRejYHR_MmxAuw7a2p lMGGxJGpq_EmDqikc6xq rDy78aqYCdlVbn1AYx_Y NnjUZ5xJwhg9QVw6z6tO c2o4iKAiorg3anKO2ST_ dhHE8KBuCsQILEzSF6KD asiM2r3KKappeL7cJd45 wAU0vrI2ssK99Y5jjSrB">
    <div class="YjFQZPjOXMo3bxrac0IM">
      <h2 class="zWudAxb8SejjUymhCqba _1RpOM3YfJo_R6daPVa3 _j0fUTblFhvw9NbQAdvC bjnT2b_qvjyY8oskmcVZ uZtaXRAMNctX50rLdkzn XWyEHWWk0NqNbS2WDykH _5GR6uhgl9vIjB1LEb7b">
        Powering innovation at 200,000+ companies worldwide
      </h2>
      <p class="uitLxBdIFIR23y_DRJAY wUNCdbXmTwWWuj0aoRKU iYB9BJW8SRtr61D51tV9 Df2GJckjMJ6cAkEJ869v">
        Track work across the enterprise through an open, collaborative platform. Link issues across Jira and ingest
        data
        from
        other software development tools, so your IT support and operations teams have richer contextual information to
        rapidly
        respond to requests, incidents, and changes.
      </p>
      <p class="uitLxBdIFIR23y_DRJAY _rCvSXeCKULutG6NOkCY _hwqTgZJTAtH_xNLDM4u iYB9BJW8SRtr61D51tV9 Df2GJckjMJ6cAkEJ869v">
        Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate
        critical
        development work, eliminate toil, and deploy changes with ease.
      </p>
    </div>
  </div>
</section>

<section class="j5w_LN24FuYb6WiMGvul _Xns0Wjl3BLlIPtz2edB">
  <div class="O6fABJPMfXjR3JaNKMui eQBRejYHR_MmxAuw7a2p __IzCWV5fnt6Aw20y5aM rDy78aqYCdlVbn1AYx_Y aKLUSkZJenyuzcf6IOc0 E729MYZW1NwAG__OqRzj">
    <div class="hfg9kH8_fM5X2MfWq1BA QtTR0zv849zijFvQn5kr aIiBrC07XJYD_NucRW9v hhTsv5dUyo5pV8mFMKuI kMSP2sdfhT0oXSZ_R5N8 BGC5XQtUXJ_VWp3n6SVf">
      <div class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 VbdeSPSU7ACZ0NhsPt1Z d9KaSaBFKzmTOUJHRwyE bEmcNdSIoQWMi_qlDWvQ oSNr8WgSHj8bBT07Z5lS nAPJOrbinqZGrbRftuc6 z2kNVEq9LYXEaTHili51">
        <div class="uZtaXRAMNctX50rLdkzn _5GR6uhgl9vIjB1LEb7b">
          <p class="a2y87NW2EtN3uAJReryb YO_pklqg_gP0eaA76aPb _j0fUTblFhvw9NbQAdvC sXHYhC1Sx6NzVg8kCH3Y">
            40%
          </p>
          <h3 class="a2y87NW2EtN3uAJReryb YTzhDQiiljQa_1b_7Ahq B0KRAxUWa6o1fcxoCms2">
            Reduction
          </h3>
          <p class="wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
            in developer onboarding time <span class="_rCvSXeCKULutG6NOkCY urabavyCxQuNta7e9flI Ob9LHhk5_ZZLlGX_E0cX">*</span>
          </p>
        </div>
      </div>

      <div class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 VbdeSPSU7ACZ0NhsPt1Z d9KaSaBFKzmTOUJHRwyE bEmcNdSIoQWMi_qlDWvQ oSNr8WgSHj8bBT07Z5lS nAPJOrbinqZGrbRftuc6 z2kNVEq9LYXEaTHili51">
        <div class="uZtaXRAMNctX50rLdkzn _5GR6uhgl9vIjB1LEb7b">
          <p class="a2y87NW2EtN3uAJReryb YO_pklqg_gP0eaA76aPb _j0fUTblFhvw9NbQAdvC sXHYhC1Sx6NzVg8kCH3Y">
            469%
          </p>
          <h3 class="a2y87NW2EtN3uAJReryb YTzhDQiiljQa_1b_7Ahq B0KRAxUWa6o1fcxoCms2">
            Return on investment
          </h3>
          <p class="wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
            over 3 years <span class="_rCvSXeCKULutG6NOkCY urabavyCxQuNta7e9flI Ob9LHhk5_ZZLlGX_E0cX">*</span>
          </p>
        </div>
      </div>

      <div class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 VbdeSPSU7ACZ0NhsPt1Z d9KaSaBFKzmTOUJHRwyE bEmcNdSIoQWMi_qlDWvQ oSNr8WgSHj8bBT07Z5lS nAPJOrbinqZGrbRftuc6 z2kNVEq9LYXEaTHili51">
        <div class="uZtaXRAMNctX50rLdkzn _5GR6uhgl9vIjB1LEb7b">
          <p class="a2y87NW2EtN3uAJReryb YO_pklqg_gP0eaA76aPb _j0fUTblFhvw9NbQAdvC sXHYhC1Sx6NzVg8kCH3Y">
            60+
          </p>
          <h3 class="a2y87NW2EtN3uAJReryb YTzhDQiiljQa_1b_7Ahq B0KRAxUWa6o1fcxoCms2">
            Minutes saved
          </h3>
          <p class="wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
            per developer, per day <span class="_rCvSXeCKULutG6NOkCY urabavyCxQuNta7e9flI Ob9LHhk5_ZZLlGX_E0cX">*</span>
          </p>
        </div>
      </div>
    </div>

    <p class="sc5Mw0vDCJOVnhujHsK7 sNhGMfXh5qpOlS95mw8M d9KaSaBFKzmTOUJHRwyE wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v _VEKbbOBn9eBJ_ovWtja">
      <span class="_rCvSXeCKULutG6NOkCY urabavyCxQuNta7e9flI Ob9LHhk5_ZZLlGX_E0cX">*</span> Results based on a composite
      organization of
      1,800 developers using GitHub over three years.
    </p>
  </div>
</section>

<section class="ZfgMaxtsBzFu151xg7KP wz_nwThdIJcQW8Jxm5QM wNuxE2XRwfir3lNSV_cp LLklfDv5KODwBpP5ixlG z2kNVEq9LYXEaTHili51 wtDhnP7iN7ZBczI9vrcc">
  <div class="O6fABJPMfXjR3JaNKMui eQBRejYHR_MmxAuw7a2p lMGGxJGpq_EmDqikc6xq rDy78aqYCdlVbn1AYx_Y NnjUZ5xJwhg9QVw6z6tO c2o4iKAiorg3anKO2ST_">
    <div class="D5OlbSTBw1CfsuazCjIC i7_nnE8wyf2SveAIsq5a _Ji5H6aW5Yl_FbRZf41b">
      <div class="_Xb_LessUL6KItlVbtOZ pIeRaxiBYr4M7rb4DESY A07mkRmytsaXKMIgULBc Vrj0lDEscnGvhs_q3TcF RGk2mOB0eg18TkpW839h _1V5TC8uA3dGqb7RYkz5 qWGbuELLeDUGU_xsllcw _lYYwRKxcsZy_1FeCtLX">
        <div>
          <img class="jN6QI1D_yxwa5_866Gdx _vYX4e3iy_9sP8mOC6hH N_7GgK_MqJ2z0ja0ZrpY WI4PTJHYWbadUU_109X7" src="https://flowbite.com/marketing-ui/demo/images/about/about-image-1.png" alt="">
        </div>

        <div class="_vYX4e3iy_9sP8mOC6hH _BF7_ofYwo68HKM1oeA3 ZAomrbqOPSFOo2U8t0Wn COLXryk4dLcCS3dLmD6b _2dUay4reRw_V1j6Gze2">
          <div class="gujkTw4DCdukRkRQIqEW">
            <h3 class="_1RpOM3YfJo_R6daPVa3 u2gUZHq2Ln1UHr5agIwW _k_QFdAt60o_I4_Fgwql uZtaXRAMNctX50rLdkzn XWyEHWWk0NqNbS2WDykH _5GR6uhgl9vIjB1LEb7b">
              Let's find more that brings
              us together.
            </h3>
            <p class="uitLxBdIFIR23y_DRJAY gfsO8zB9k3WaJy7r0_Zv wUNCdbXmTwWWuj0aoRKU TIg2cc6e5mAu_WZjw2fD Df2GJckjMJ6cAkEJ869v">
              Flowbite helps you connect with friends, family and communities of people who share your interests.
              Connecting with your
              friends and family as well as discovering new ones is easy with features like Groups.
            </p>
          </div>
          <div class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 aIiBrC07XJYD_NucRW9v uc6AjhwLIZGeXo6krKyW">
            <a href="#" title="" class="mgJAKK9vWtU1PSpDOSy7 P0sEMSGqLpokPnWnm0_G pV5QHq9WvMsCNRvC8qG5 j8PPdjt2Dc923qK0hEwI f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 _Xtntc2N2_AY67dJhuUG jPovGh08547knX9s4FqY _acJDSUGqxRwM7YKVwYR _rCvSXeCKULutG6NOkCY N_7GgK_MqJ2z0ja0ZrpY sNhGMfXh5qpOlS95mw8M l60nmbBOLcqmCLlExDag MxkCh1Od7CZVGVGtpahb d9KaSaBFKzmTOUJHRwyE T0I_0kOq_tJmZAdv5_bO _Dsh402wwa0qrgkTUss2 _kgZpkjnvcrdoNB9M68n" role="button">
              Get started
              <svg aria-hidden="true" class="a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _vKxEJkC2TiRgg4Z3zFV i__9ESwitqrrGjfMSuAr" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a>

            <a href="#" title="" class="uZtaXRAMNctX50rLdkzn cPDkaXEB7uAZEDCL6Z16 tw8OcvA4go4h73YpX7X8 MUruTVQ0LJ0ADcZ_3oEU _jU4BaOKl5BCND0u0lfU _F8Ds9i7NyNon9Pkme8V Df2GJckjMJ6cAkEJ869v BLC17X9ew6_l9orKozkG z2kNVEq9LYXEaTHili51 _W7klWEm2z0tEER3UUix uK1AbKa5fIykTo6CO7YT Dl7bdeA3_kYEiCBS7qZp pV5QHq9WvMsCNRvC8qG5 f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 _Xtntc2N2_AY67dJhuUG jPovGh08547knX9s4FqY _rCvSXeCKULutG6NOkCY N_7GgK_MqJ2z0ja0ZrpY sNhGMfXh5qpOlS95mw8M l60nmbBOLcqmCLlExDag MxkCh1Od7CZVGVGtpahb d9KaSaBFKzmTOUJHRwyE" role="button">
              Read more
            </a>
          </div>
        </div>
      </div>

      <div class="_Xb_LessUL6KItlVbtOZ pIeRaxiBYr4M7rb4DESY A07mkRmytsaXKMIgULBc Vrj0lDEscnGvhs_q3TcF RGk2mOB0eg18TkpW839h _1V5TC8uA3dGqb7RYkz5 qWGbuELLeDUGU_xsllcw _lYYwRKxcsZy_1FeCtLX">
        <div class="_Nsa_J4pPpFsJjS3w1Sj">
          <img class="jN6QI1D_yxwa5_866Gdx _vYX4e3iy_9sP8mOC6hH N_7GgK_MqJ2z0ja0ZrpY WI4PTJHYWbadUU_109X7" src="https://flowbite.com/marketing-ui/demo/images/about/about-image-2.png" alt="">
        </div>

        <div class="_vYX4e3iy_9sP8mOC6hH _BF7_ofYwo68HKM1oeA3 ZAomrbqOPSFOo2U8t0Wn COLXryk4dLcCS3dLmD6b _2dUay4reRw_V1j6Gze2 HP5_nop_fWoE0qglPFwe">
          <div class="gujkTw4DCdukRkRQIqEW">
            <h3 class="_1RpOM3YfJo_R6daPVa3 u2gUZHq2Ln1UHr5agIwW _k_QFdAt60o_I4_Fgwql uZtaXRAMNctX50rLdkzn XWyEHWWk0NqNbS2WDykH _5GR6uhgl9vIjB1LEb7b">
              Let's find more that brings
              us together.
            </h3>
            <p class="uitLxBdIFIR23y_DRJAY gfsO8zB9k3WaJy7r0_Zv wUNCdbXmTwWWuj0aoRKU TIg2cc6e5mAu_WZjw2fD Df2GJckjMJ6cAkEJ869v">
              Flowbite helps you connect with friends, family and communities of people who share your interests.
              Connecting with your
              friends and family as well as discovering new ones is easy with features like Groups.
            </p>
          </div>
          <div class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 aIiBrC07XJYD_NucRW9v uc6AjhwLIZGeXo6krKyW">
            <a href="#" title="" class="mgJAKK9vWtU1PSpDOSy7 P0sEMSGqLpokPnWnm0_G pV5QHq9WvMsCNRvC8qG5 j8PPdjt2Dc923qK0hEwI f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 _Xtntc2N2_AY67dJhuUG jPovGh08547knX9s4FqY _acJDSUGqxRwM7YKVwYR _rCvSXeCKULutG6NOkCY N_7GgK_MqJ2z0ja0ZrpY sNhGMfXh5qpOlS95mw8M l60nmbBOLcqmCLlExDag MxkCh1Od7CZVGVGtpahb d9KaSaBFKzmTOUJHRwyE T0I_0kOq_tJmZAdv5_bO _Dsh402wwa0qrgkTUss2 _kgZpkjnvcrdoNB9M68n" role="button">
              Get started
              <svg aria-hidden="true" class="a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _vKxEJkC2TiRgg4Z3zFV i__9ESwitqrrGjfMSuAr" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="_Xb_LessUL6KItlVbtOZ pIeRaxiBYr4M7rb4DESY A07mkRmytsaXKMIgULBc Vrj0lDEscnGvhs_q3TcF RGk2mOB0eg18TkpW839h _1V5TC8uA3dGqb7RYkz5 qWGbuELLeDUGU_xsllcw _lYYwRKxcsZy_1FeCtLX">
        <div>
          <img class="jN6QI1D_yxwa5_866Gdx _vYX4e3iy_9sP8mOC6hH N_7GgK_MqJ2z0ja0ZrpY WI4PTJHYWbadUU_109X7" src="https://flowbite.com/marketing-ui/demo/images/about/about-image-3.png" alt="">
        </div>

        <div class="_vYX4e3iy_9sP8mOC6hH _BF7_ofYwo68HKM1oeA3 ZAomrbqOPSFOo2U8t0Wn COLXryk4dLcCS3dLmD6b _2dUay4reRw_V1j6Gze2">
          <div class="gujkTw4DCdukRkRQIqEW">
            <h3 class="_1RpOM3YfJo_R6daPVa3 u2gUZHq2Ln1UHr5agIwW _k_QFdAt60o_I4_Fgwql uZtaXRAMNctX50rLdkzn XWyEHWWk0NqNbS2WDykH _5GR6uhgl9vIjB1LEb7b">
              Let's find more that brings
              us together.
            </h3>
            <p class="uitLxBdIFIR23y_DRJAY gfsO8zB9k3WaJy7r0_Zv wUNCdbXmTwWWuj0aoRKU TIg2cc6e5mAu_WZjw2fD Df2GJckjMJ6cAkEJ869v">
              Flowbite helps you connect with friends, family and communities of people who share your interests.
              Connecting with your
              friends and family as well as discovering new ones is easy with features like Groups.
            </p>
          </div>
          <div class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 aIiBrC07XJYD_NucRW9v uc6AjhwLIZGeXo6krKyW">
            <a href="#" title="" class="mgJAKK9vWtU1PSpDOSy7 P0sEMSGqLpokPnWnm0_G pV5QHq9WvMsCNRvC8qG5 j8PPdjt2Dc923qK0hEwI f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 _Xtntc2N2_AY67dJhuUG jPovGh08547knX9s4FqY _acJDSUGqxRwM7YKVwYR _rCvSXeCKULutG6NOkCY N_7GgK_MqJ2z0ja0ZrpY sNhGMfXh5qpOlS95mw8M l60nmbBOLcqmCLlExDag MxkCh1Od7CZVGVGtpahb d9KaSaBFKzmTOUJHRwyE T0I_0kOq_tJmZAdv5_bO _Dsh402wwa0qrgkTUss2 _kgZpkjnvcrdoNB9M68n" role="button">
              View all events
              <svg aria-hidden="true" class="a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _vKxEJkC2TiRgg4Z3zFV i__9ESwitqrrGjfMSuAr" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </a>

            <a href="#" title="" class="uZtaXRAMNctX50rLdkzn cPDkaXEB7uAZEDCL6Z16 tw8OcvA4go4h73YpX7X8 MUruTVQ0LJ0ADcZ_3oEU _jU4BaOKl5BCND0u0lfU _F8Ds9i7NyNon9Pkme8V Df2GJckjMJ6cAkEJ869v BLC17X9ew6_l9orKozkG z2kNVEq9LYXEaTHili51 _W7klWEm2z0tEER3UUix uK1AbKa5fIykTo6CO7YT Dl7bdeA3_kYEiCBS7qZp pV5QHq9WvMsCNRvC8qG5 f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 _Xtntc2N2_AY67dJhuUG jPovGh08547knX9s4FqY _rCvSXeCKULutG6NOkCY N_7GgK_MqJ2z0ja0ZrpY sNhGMfXh5qpOlS95mw8M l60nmbBOLcqmCLlExDag MxkCh1Od7CZVGVGtpahb d9KaSaBFKzmTOUJHRwyE" role="button">
              Read more
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="j5w_LN24FuYb6WiMGvul _Xns0Wjl3BLlIPtz2edB">
  <div class="O6fABJPMfXjR3JaNKMui eQBRejYHR_MmxAuw7a2p lMGGxJGpq_EmDqikc6xq rDy78aqYCdlVbn1AYx_Y NnjUZ5xJwhg9QVw6z6tO c2o4iKAiorg3anKO2ST_">
    <div class="WhuAYjbSprszuhtqgVk7 kOhzJ5YoQlCRjiHBbWR_ rDy78aqYCdlVbn1AYx_Y HAukMdGXrpE_wgyw2WKj hKQgAAiHupTO_Mh0HHoB YpzDT_YGMBMGX_sXivep">
      <div class="wUNCdbXmTwWWuj0aoRKU TIg2cc6e5mAu_WZjw2fD">
        <h2 class="IcxvxSjEPCDi7nF2xYDi _1RpOM3YfJo_R6daPVa3 _j0fUTblFhvw9NbQAdvC bjnT2b_qvjyY8oskmcVZ uZtaXRAMNctX50rLdkzn XWyEHWWk0NqNbS2WDykH _5GR6uhgl9vIjB1LEb7b">Stats that
          matter</h2>
        <p class="_oGw3v7TmMKu5h0Bm3TW zi3essUEMstAtgSZ2Uoc Df2GJckjMJ6cAkEJ869v">Our rigorous security and compliance standards are at the
          heart of all we do. We work tirelessly to protect you and your customers.</p>
        <div class="hfg9kH8_fM5X2MfWq1BA XCSkQavNhVb5LXOEKwIr LM_TDQK08bu3Z6eLr27O wtDhnP7iN7ZBczI9vrcc cjbQhlauUexYX_OhMp1K">
          <div class="_Xb_LessUL6KItlVbtOZ">
            <div class="JOjqbeSGDe2E8xVHrfXz COLXryk4dLcCS3dLmD6b">
              <svg class="iRklyDRNpZpdiVoBcPdr B75KlS0q3LUZKDWET_cF urabavyCxQuNta7e9flI Ob9LHhk5_ZZLlGX_E0cX" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path>
              </svg>
            </div>
            <div>
              <p class="vtYP8yh_57D85esuKwGF m_mKfjlZ88T0NgHyO9yH _j0fUTblFhvw9NbQAdvC bjnT2b_qvjyY8oskmcVZ uZtaXRAMNctX50rLdkzn _5GR6uhgl9vIjB1LEb7b">$76 billion</p>
              <p class="wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">24h trading volume on Flowbite exchange</p>
            </div>
          </div>
          <div class="_Xb_LessUL6KItlVbtOZ">
            <div class="JOjqbeSGDe2E8xVHrfXz COLXryk4dLcCS3dLmD6b">
              <svg class="iRklyDRNpZpdiVoBcPdr B75KlS0q3LUZKDWET_cF urabavyCxQuNta7e9flI Ob9LHhk5_ZZLlGX_E0cX" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
                </path>
              </svg>
            </div>
            <div>
              <p class="vtYP8yh_57D85esuKwGF m_mKfjlZ88T0NgHyO9yH _j0fUTblFhvw9NbQAdvC bjnT2b_qvjyY8oskmcVZ uZtaXRAMNctX50rLdkzn _5GR6uhgl9vIjB1LEb7b">90%</p>
              <p class="wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">of U.S adults have bought from businesses using
                Flowbite</p>
            </div>
          </div>
          <div class="_Xb_LessUL6KItlVbtOZ">
            <div class="JOjqbeSGDe2E8xVHrfXz COLXryk4dLcCS3dLmD6b">
              <svg class="iRklyDRNpZpdiVoBcPdr B75KlS0q3LUZKDWET_cF urabavyCxQuNta7e9flI Ob9LHhk5_ZZLlGX_E0cX" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
              </svg>
            </div>
            <div>
              <p class="vtYP8yh_57D85esuKwGF m_mKfjlZ88T0NgHyO9yH _j0fUTblFhvw9NbQAdvC bjnT2b_qvjyY8oskmcVZ uZtaXRAMNctX50rLdkzn _5GR6uhgl9vIjB1LEb7b">135+</p>
              <p class="wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">currencies and payment methods supported</p>
            </div>
          </div>
          <div class="_Xb_LessUL6KItlVbtOZ">
            <div class="JOjqbeSGDe2E8xVHrfXz COLXryk4dLcCS3dLmD6b">
              <svg class="iRklyDRNpZpdiVoBcPdr B75KlS0q3LUZKDWET_cF urabavyCxQuNta7e9flI Ob9LHhk5_ZZLlGX_E0cX" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path>
              </svg>
            </div>
            <div>
              <p class="vtYP8yh_57D85esuKwGF m_mKfjlZ88T0NgHyO9yH _j0fUTblFhvw9NbQAdvC bjnT2b_qvjyY8oskmcVZ uZtaXRAMNctX50rLdkzn _5GR6uhgl9vIjB1LEb7b">40%</p>
              <p class="wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">countries with local acquiring optimizing acceptance
                rates</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Illustration -->
      <img class="DXlAhON9HabjpikY0rWQ rDy78aqYCdlVbn1AYx_Y IcxvxSjEPCDi7nF2xYDi JLJQRDg9XGWZSMQSTHjk" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/social-proof/table-professor.svg" alt="table professor illustration">
    </div>
  </div>
</section>

<section class="ZfgMaxtsBzFu151xg7KP wz_nwThdIJcQW8Jxm5QM wNuxE2XRwfir3lNSV_cp LLklfDv5KODwBpP5ixlG z2kNVEq9LYXEaTHili51 wtDhnP7iN7ZBczI9vrcc">
  <div class="O6fABJPMfXjR3JaNKMui eQBRejYHR_MmxAuw7a2p lMGGxJGpq_EmDqikc6xq rDy78aqYCdlVbn1AYx_Y NnjUZ5xJwhg9QVw6z6tO c2o4iKAiorg3anKO2ST_">
    <div class="EddwxAV5jzpk8WhiqGQX rDy78aqYCdlVbn1AYx_Y _oGw3v7TmMKu5h0Bm3TW d9KaSaBFKzmTOUJHRwyE z3WF7SWOjGNcztDZcsY2">
      <h2 class="_1RpOM3YfJo_R6daPVa3 _j0fUTblFhvw9NbQAdvC bjnT2b_qvjyY8oskmcVZ uZtaXRAMNctX50rLdkzn XWyEHWWk0NqNbS2WDykH _5GR6uhgl9vIjB1LEb7b">
        How can we help you?
      </h2>
      <p class="sc5Mw0vDCJOVnhujHsK7 wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v iYB9BJW8SRtr61D51tV9">
        Here are a few of the questions we get the
        most. If you don't see what's on your mind, reach out to us anytime on phone, chat, or email.
      </p>

      <div class="qZPPv75SbOBU0lYFB_oe rDy78aqYCdlVbn1AYx_Y KbYVoXvn9YPsgt1d6RZy">
        <label for="email-adress-icon" class="ftvY7f2En3GQ06SgSMDx">
          Your Email
        </label>
        <div class="c_PkEF0I2lwRWqhjuhLN">
          <div class="HI5IirNQN9pY0ckoTi0H XiwxMAxnQJrDn0N_OxS3 sDMuoVgAl83ycTYO9Z_B _Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 SgVGGGauY268teHB5hlM _CMueHfZReuiiLYSvywP">
            <svg class="__fODz6BPjHZiJAunDUW Hic0XmeJRc9LnBlsBw1Z wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
            </svg>
          </div>
          <input type="text" id="email-adress-icon" class="v1DOVLwZv5vE5pLd2zoq _vYX4e3iy_9sP8mOC6hH WPN66xY1_3zfXGTk41Y6 _Ew_zNWrXBm2M_vaV_jd uZtaXRAMNctX50rLdkzn j5w_LN24FuYb6WiMGvul cPDkaXEB7uAZEDCL6Z16 rm4C7BIv_WgmAADv1313 N_7GgK_MqJ2z0ja0ZrpY EkCkIvsvtBZpyRmbx2xz I3gyLmaw7epqsD6sV1h3 NGvAWlJvxH8ROtNd7cVm BLC17X9ew6_l9orKozkG tBa7elwbLSf2UUEccOsI _5GR6uhgl9vIjB1LEb7b UU5EWCt68usBQ7AIh7wQ _kNRqr_S5vVrNJnIMa2D" placeholder="Type keywords to find answers">
        </div>
        <p class="sc5Mw0vDCJOVnhujHsK7 sNhGMfXh5qpOlS95mw8M wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">You can also browse the topics below to find what you
          are
          looking for.</p>
      </div>
    </div>

    <div class="hfg9kH8_fM5X2MfWq1BA kOhzJ5YoQlCRjiHBbWR_ cjbQhlauUexYX_OhMp1K tYsJU6wc3liSS2Nz8Gbw pYGXn21WyGLwD1GQJsOn">
      <div>
        <h3 class="IcxvxSjEPCDi7nF2xYDi YTzhDQiiljQa_1b_7Ahq u2gUZHq2Ln1UHr5agIwW _5GR6uhgl9vIjB1LEb7b">General</h3>
        <ul role="list" class="YjFQZPjOXMo3bxrac0IM wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
          <li>
            <a href="#" class="gY9luLGG3hnSAHgMh0Aq wzzgYe84MoyXMBIQkKeP _W7klWEm2z0tEER3UUix">How to update</a>
          </li>
          <li>
            <a href="#" class="gY9luLGG3hnSAHgMh0Aq wzzgYe84MoyXMBIQkKeP _W7klWEm2z0tEER3UUix">How to change the language</a>
          </li>
          <li>
            <a href="#" class="gY9luLGG3hnSAHgMh0Aq wzzgYe84MoyXMBIQkKeP _W7klWEm2z0tEER3UUix">About forwarding limits</a>
          </li>
          <li>
            <a href="#" class="gY9luLGG3hnSAHgMh0Aq wzzgYe84MoyXMBIQkKeP _W7klWEm2z0tEER3UUix">How to update Flowbite</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="IcxvxSjEPCDi7nF2xYDi YTzhDQiiljQa_1b_7Ahq u2gUZHq2Ln1UHr5agIwW _5GR6uhgl9vIjB1LEb7b">Android</h3>
        <ul role="list" class="YjFQZPjOXMo3bxrac0IM wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
          <li>
            <a href="#" class="gY9luLGG3hnSAHgMh0Aq wzzgYe84MoyXMBIQkKeP _W7klWEm2z0tEER3UUix">Verifying your number</a>
          </li>
          <li>
            <a href="#" class="gY9luLGG3hnSAHgMh0Aq wzzgYe84MoyXMBIQkKeP _W7klWEm2z0tEER3UUix">How to restore your chat history</a>
          </li>
          <li>
            <a href="#" class="gY9luLGG3hnSAHgMh0Aq wzzgYe84MoyXMBIQkKeP _W7klWEm2z0tEER3UUix">How to manage your notifications</a>
          </li>
          <li>
            <a href="#" class="gY9luLGG3hnSAHgMh0Aq wzzgYe84MoyXMBIQkKeP _W7klWEm2z0tEER3UUix">Account &amp; Profile</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="IcxvxSjEPCDi7nF2xYDi YTzhDQiiljQa_1b_7Ahq u2gUZHq2Ln1UHr5agIwW _5GR6uhgl9vIjB1LEb7b">Iphone</h3>
        <ul role="list" class="YjFQZPjOXMo3bxrac0IM wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
          <li>
            <a href="#" class="gY9luLGG3hnSAHgMh0Aq wzzgYe84MoyXMBIQkKeP _W7klWEm2z0tEER3UUix">How to restore your chat history</a>
          </li>
          <li>
            <a href="#" class="gY9luLGG3hnSAHgMh0Aq wzzgYe84MoyXMBIQkKeP _W7klWEm2z0tEER3UUix">How to use status</a>
          </li>
          <li>
            <a href="#" class="gY9luLGG3hnSAHgMh0Aq wzzgYe84MoyXMBIQkKeP _W7klWEm2z0tEER3UUix">How to manage your notifications</a>
          </li>
          <li>
            <a href="#" class="gY9luLGG3hnSAHgMh0Aq wzzgYe84MoyXMBIQkKeP _W7klWEm2z0tEER3UUix">Can’t log out</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="IcxvxSjEPCDi7nF2xYDi YTzhDQiiljQa_1b_7Ahq u2gUZHq2Ln1UHr5agIwW _5GR6uhgl9vIjB1LEb7b">Web &amp; Desktop</h3>
        <ul role="list" class="YjFQZPjOXMo3bxrac0IM wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
          <li>
            <a href="#" class="gY9luLGG3hnSAHgMh0Aq wzzgYe84MoyXMBIQkKeP _W7klWEm2z0tEER3UUix">About WhatsApp Web and Desktop</a>
          </li>
          <li>
            <a href="#" class="gY9luLGG3hnSAHgMh0Aq wzzgYe84MoyXMBIQkKeP _W7klWEm2z0tEER3UUix">How to log in or out</a>
          </li>
          <li>
            <a href="#" class="gY9luLGG3hnSAHgMh0Aq wzzgYe84MoyXMBIQkKeP _W7klWEm2z0tEER3UUix">How to manage your notifications</a>
          </li>
          <li>
            <a href="#" class="gY9luLGG3hnSAHgMh0Aq wzzgYe84MoyXMBIQkKeP _W7klWEm2z0tEER3UUix">How to update Flowbite</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


</main>




</body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>
{% endblock %}