{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to Random Content</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'styles.css' %}" />

</head>
<body>

  <h1>Random Fact</h1>
  <div class="random-fact-card">
  {{fact}}
  </div>

  <h1>Random Student</h1>
  <div class="random-student-card">
  {{name}}
  </div>

  <h1>Random Image</h1>
  <div class="random-image-card">
  {{dog}}
  <img src="{{dog}}" alt="Random dog">
  </div>

  <button onclick="window.location.reload();">Refresh</button>

</body>
</html>